.page {
    width: 1600px;

    margin-left: auto;
    margin-right: auto;

    background-color: rgb(233, 228, 219);
}

.list-container {
    display: flex;
    justify-content: center;
    
    padding-top: 50px;
}

.gallery-item {
    display: block;

    width: 450px;
}

.list-container .gallery-item:not(:first-child) {
    margin-left: 15px;
}